.ui-lead {
  --lead-font-family: var(--font-sans);
  --lead-font-size: 1.25rem;
  --lead-max-width: 65ch;
  --lead-font-weight: var(--base-font-weight);
  --lead-line-height: var(--base-line-height);
  --lead-text-transform: none;

  /* Styling */
  display: block;
  font-family: var(--lead-font-family);
  font-size: var(--lead-font-size);
  max-width: var(--lead-max-width);
  font-weight: var(--heading-font-weight);
  line-height: var(--lead-line-height);
  text-transform: var(--lead-text-transform);
  font-style: normal;
}
