.ui-link {
  --link-weight: 500;
  --link-initial-opacity: 1;
  --link-hover-opacity: 0.7;

  display: inline;
  max-width: max-content;
  cursor: pointer;
  text-decoration: none;
  font-weight: var(--link-weight);
  position: relative;

  opacity: var(--link-initial-opacity);
  transition: var(--transition-opacity);

  &:hover {
    opacity: var(--link-hover-opacity);
  }

  &[data-link="2"],
  &.data-link-2 {
    --link-underline-opacity: 0.5;
    --link-underline-thickness: 1px;

    &::before {
      position: absolute;
      top: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      content: "";
      width: 100%;
      height: var(--link-underline-thickness);
      background-color: currentColor;
      opacity: 0;
      transition: var(--transition-opacity), var(--transition-transform);
      transform: translate3d(0, -0.25em, 0);
    }

    &:hover::before {
      transform: translate3d(0, 0, 0);
      opacity: var(--link-underline-opacity);
    }
  }

  &[data-link="3"],
  &.data-link-3 {
    --link-initial-opacity: 1;
    --link-hover-opacity: 1;
    --link-underline-thickness: 1px;

    &::before {
      position: absolute;
      top: 90%;
      bottom: 0;
      left: 0;
      right: 0;
      content: "";
      width: 100%;
      height: var(--link-underline-thickness);
      background-color: currentColor;
      transform-origin: 100% 50%;
      transform: scale3d(0, 1, 1);
      transition: transform 0.3s;
    }

    &:hover::before {
      transform-origin: 0% 50%;
      transform: scale3d(1, 1, 1);
    }
  }

  &[data-link="4"],
  &.data-link-4 {
    --link-initial-opacity: 1;
    --link-hover-opacity: 1;

    --link-underline-opacity: 0.25;
    --link-underline-thickness: 2px;
    --link-animation-duration: 0.5s;
    --link-animation-easing: ease;

    /* Visible line */
    &::before {
      position: absolute;
      top: calc(100% - var(--link-underline-thickness));
      bottom: 0;
      left: 0;
      right: 0;
      content: "";
      width: 100%;
      height: var(--link-underline-thickness);
      background-color: currentColor;
      opacity: var(--link-underline-opacity);
    }

    /* Animated line */
    &::after {
      position: absolute;
      top: calc(100% - var(--link-underline-thickness));
      bottom: 0;
      left: 0;
      right: 0;
      content: "";
      width: 100%;
      height: var(--link-underline-thickness);
      background-color: currentColor;
      transform-origin: 100% 50%;
      transform: scale3d(0, 1, 1);
      transition: transform var(--link-animation-duration)
        var(--link-animation-easing);
    }

    &:hover::after {
      transform-origin: 0% 50%;
      transform: scale3d(1, 1, 1);
    }
  }

  &[data-link="5"],
  &.data-link-5 {
    --link-initial-opacity: 1;
    --link-hover-opacity: 1;

    --link-underline-opacity: 0.25;
    --link-underline-thickness: 0.15em;
    --link-underline-distance-top: 67%;

    &::before {
      position: absolute;
      top: var(--link-underline-distance-top);
      bottom: 0;
      left: 0;
      right: 0;
      content: "";
      width: 100%;
      height: var(--link-underline-thickness);
      background-color: currentColor;
      opacity: var(--link-underline-opacity);
    }
  }
}
